/**
 * Ambiance 
 * By T.H. Kim
 *Taken from p_square's blog :D
 * Slightly modified
 * 
 * Quote design due to 
 */

*colors used
*Dim grey #696969
*Cool black #002E63
*Ebony #555D50
*Taupe #483C32
*Davy’s Grey #555555
*Charcoal #36454F
*Outer Space #414A4C
 
/* Import Font */
@import url(http://fonts.googleapis.com/css?family=Titillium+Web&subset=latin,latin-ext);
 
div .entrywrap{
background-color : #555555;
}


/* Body */
body {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #555555;
    font-family:  'Titillium Web', sans-serif;
}
 
/* Header */
div#header {
    background-color: #555555;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 70px;
    border: none;
    left: 0px;
    height: 100px;
    z-index: 101;
}
 
div#header h1 {
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
        font-weight : bold;
        height: 70px;
        line-height: 2;
        font-size: 36px;
        /* Fix to Align Header with Wrapper*/
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        color: white;
}
h2 {
    color: white;
    font-family:  'Source Sans Pro', sans-serif;
}
/* Navigation Bar */
div#navigation_box {
    background-color: black;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    margin-bottom: 40px;
    box-shadow: 0px 0px 5px 0px #b7bec4;
    border: none;
    padding: 0px;
    position: fixed;
    top: 100px;
    width: 100%;
    z-index: 10000;
    height: 30px;
}
 
div#navigation_box:hover {
    box-shadow: 0px 0px 10px 0px #b7bec4;
}
 
 
div#navigation_box div {
    font-size: 1px;
    height: 30px;
    color: transparent;
}
 
div#navigation_box div a {
    display: inline-block;
    text-decoration: none;
    color: white !important;
    font-size: 15px;
    font-family: 'Titillium Web', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    height: 30px;
}
 
div.message {
overflow: visible;
}
 
div#navigation_box div a:hover {
    background-color: #b7bec4;
    box-shadow: 0px 0px 20px 0px #39A2F3;
}
 
/* Wrapper */
#wrapper {
    position: absolute;
    width: 83%;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #36454F;
    padding-left: 0px;
    padding-right: 30px;
    box-shadow: 0px 0px 10px 0px #87888a;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    top: 170px;
    left: 7%;
    border: none;
    background-image: none;
}
#wrapper:hover {
    box-shadow: 0px 0px 20px 0px #87888a;
}
 
/* Main */
#main {
    width: 70%;
    float:right;
}
div.entry {
    border: none;
}
 
.entry h1 a {
    color: white;
}
#main h1 {
    color: white;
}
div.entrywrap {
    background-color: white;
    border: none;
    border-radius: 10px;
    font-size: 12pt;
 
}
 
.commentwrap {
    background-color: white;
    border: none;
    border-radius: 10px;
    font-size: 10pt;
}
div.comment {
    border: none;
}
 
/* Side */
#side {
    background-color: #151a4a;
    text-color : white;
    width: 27%;
    float: left;
    padding-left:0px;
    padding-right:0px;
    padding-top: 0px;
    margin-top: 0px;
}
li.row1, li.row2{
    background-color: #151a4a;
}
 
#shout_post fieldset{
    border: none;
    padding-left: 0px;
    padding-right:0px;
    margin-left: 0px;
    margin-right: 0px;
}
div.widget, div.user_menu {
    padding: 5px !important;
}
 
div#shouts-widget {
    padding: 0px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
div#shouts-widget div.widget-header {
    padding-left: 5px;
    padding-right: 5px;
}
 
li.row1, li.row2 {
    padding: 5px !important;
    border-top:2px solid #6CB8F3;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}
li.row1:hover, li.row2:hover {
    background-color: #6CB8F3;
}
li.row1 p, li.row2 p {
    margin-top: 0px;
}
li.row1 p.shout_footer, li.row2 p.shout_footer {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.inputbox
{
    width: 95%;
    box-shadow: 0px 0px 20px 0px lightgrey inset;
    border-radius: 5px;
}
#message {
    margin-left: 1%;
}
 
#side > div:not(#shouts-widget) {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}
#side > div:not(#shouts-widget):hover {
    background-color: #6CB8F3
}
div.widget {
    margin-bottom: 0px !important;
    padding-bottom: 20px !important;
}
/* Links */
.entry h2 a {
    color: white;
}
a {
 
}
a:hover {
    color: orange !important;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}
 
div.total-posts , div.total-posts a{
    color: white;
}
 
/* Post New Entry */
img#post-new-entry-img {
    display:none;
}
a#post-new-entry {
    background-image: url(http://thkim1011.x10.mx/AoPS/PencilWhite.png);
    background-repeat: no-repeat;
    padding-left: 40px;
    font-size: 15px;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
}
form#postform {
    position: relative;
    width: 140%;
    left: -40%;
}
 
form#postform h3 {
    font-size: 16pt;
    color: white;
}
form#postform fieldset {
    background-color: white;
    margin: 0px;
    border: none;
}
form#postform > fieldset.fields1 {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
div#tabs {
    background-color: white;
}
div#tabs ul {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
 
/* Testing Flexbox to fix sidebar height */
#content {
    display: flexbox; /* IE 10*/
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
 
#side {
    order: 1;
}
 
#main {
    order: 3;
}
 
#content > div.clear {
    order: 2
}
 
/* Blog Errors*/
div#blog-errors {
    z-index: 1000000000000000000;
    position: absolute !important;
}
 
/* Other Stuff */
div.entry > h2 > a > img {
    display: none;
}
div.entry > h2 > a {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: white;
    display: inline-block;
    margin-right: 2px;
}
 
/* Codes and Quotes*/
div.codetitle{
    background:#3089CD;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
    color:white;
    border: 2px solid #3089CD;
}
div.codecontent > div {
    font-family: Consolas, monospace !important;
}
div.codecontent > div > ol{
    margin-top:0px;
    margin-bottom:0px;
    border: 2px solid #3089CD;
}

.bbcode_quote{
    border-radius: 0;
    border: 1px solid #CFCFCF;
    background: none;
    padding: 0;
}
.bbcode_quote_head{
    font-family: 'Lucida Grande';
    background: #3089cd;
    color: #edf9f9;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    padding: 6px 6px 6px 5px;
}
.bbcode_quote_head::before{
    content: '';
}
.bbcode_quote_body{
    color: #6CB8F3;
    font-family: 'Lucida Grande';
    padding: 0px 0px 2px 8px;
}
fieldset {
  border:none;
}
